* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #491b55;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.main-container .title {
  font-weight: bold;
  margin-bottom: 10px;
}

.main-container .stopwatch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.stopwatch-container .stopwatch-numbers {
  font-size: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.stopwatch-numbers .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.label {
  font-size: 16px;
  font-weight: 400;
}

.main-container .buttons-container {
  display: flex;
  gap: 20px;
}

.buttons-container button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.buttons-container .start-button {
  background-color: #fd46fd;
}

.buttons-container .reset-button {
  background-color: #553f5c;
}

@media (min-height: 300px) {
  body {
    height: 100vh;
  }
}

@media (max-width: 580px) {
  .stopwatch-container .stopwatch-numbers {
    font-size: 80px;
  }
  
  .stopwatch-numbers .container {
    width: 130px;
  }
  
  .label {
    font-size: 14px;
  }

  .buttons-container button {
    width: 110px;
    height: 40px;
    font-size: 14px;
  } 
}

@media (max-width: 460px) {
  .stopwatch-container .stopwatch-numbers {
    font-size: 60px;
  }
  
  .stopwatch-numbers .container {
    width: 110px;
  }
  
  .label {
    font-size: 14px;
  }

  .buttons-container button {
    width: 100px;
    height: 35px;
    font-size: 14px;
  } 
}

@media (max-width: 390px) {
  .stopwatch-container .stopwatch-numbers {
    font-size: 52px;
  }
  
  .stopwatch-numbers .container {
    width: 90px;
  }
  
  .label {
    font-size: 12px;
  }

  .buttons-container button {
    width: 90px;
    height: 30px;
    font-size: 13px;
  } 

  .main-container .stopwatch-container {
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .stopwatch-container .stopwatch-numbers {
    font-size: 45px;
  }
  
  .stopwatch-numbers .container {
    width: 80px;
  }
  
  .label {
    font-size: 11px;
  }

  .buttons-container button {
    width: 90px;
    height: 30px;
    font-size: 11px;
  } 
}

@media (max-width: 320px) {
  .stopwatch-container .stopwatch-numbers {
    font-size: 36px;
  }
  
  .stopwatch-numbers .container {
    width: 75px;
  }
  
  .label {
    font-size: 10px;
  }

  .buttons-container button {
    width: 85px;
    height: 30px;
    font-size: 11px;
  } 
}

@media (max-width: 260px) {
  .stopwatch-container .stopwatch-numbers {
    font-size: 30px;
  }
  
  .stopwatch-numbers .container {
    width: 60px;
  }
  
  .label {
    font-size: 10px;
  }

  .buttons-container button {
    width: 75px;
    height: 25px;
    font-size: 10px;
  } 
}

@media (max-width: 260px) {
  .main-container .title {
    font-size: 12px;
  }

  .stopwatch-container .stopwatch-numbers {
    font-size: 25px;
  }
  
  .stopwatch-numbers .container {
    width: 45px;
  }
  
  .label {
    font-size: 8px;
  }

  .buttons-container button {
    width: 55px;
    height: 22px;
    font-size: 9px;
  } 

  .main-container .stopwatch-container {
    margin-bottom: 15px;
  }
}