* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #491b55;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 550px;
}

.main-container .title {
  font-weight: bold;
  margin-bottom: 10px;
}

.main-container .stopwatch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 600px;
}

.stopwatch-container .stopwatch-numbers {
  font-size: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.stopwatch-numbers .time {
  width: 190px;
  display: flex;
  justify-content: center;
}

.stopwatch-container .stopwatch-label {
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 30px;
}

.stopwatch-label .minutes-label {
  margin-right: 145px;
}

.stopwatch-label .seconds-label {
  margin-right: 125px;
}

.main-container .buttons-container {
  display: flex;
  gap: 20px;
}

.buttons-container button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.buttons-container .start-button {
  background-color: #fd46fd;
}

.buttons-container .reset-button {
  background-color: #553f5c;
}